<!DOCTYPE html>
<html>
    <head>

        <title>Document</title>
        <meta http-equiv="Content-type" content="text/html; charset=windows-1251"/>
        <meta name="robots" content="all"/>
        <meta name="description" content=" "/>
        <meta name="keywords" content=" "/>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="/letim/css/style.css" media="screen"/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,700italic&subset=latin,cyrillic-ext,cyrillic'
              rel='stylesheet' type='text/css'/>
        <script type="text/javascript" src="/letim/js/jquery-1.5.2.min.js"></script>
        <link rel="stylesheet" href="/letim/css/nivo-slider.css" type="text/css" media="screen"/>
        <script type="text/javascript" src="/letim/js/jquery.nivo.slider.pack.js"></script>
        <script type="text/javascript">
            $(window).load(function () {
                $('#slider').nivoSlider();
            });
        </script>

    </head>
    <body>
    <div id="conteiner">
        <div id="conteiner_main">

            <!--header-->
            <div id="header">

                <div id="logo"><a href="/" title=""><img src="/letim/images/logo.png" alt=""/></a></div>

                {% set menuItem = knp_menu_get('LetimMenuBundle:MenuBuilder:getMenu', [], {'menu': 'main_menu'}) %}

                {{ knp_menu_render(menuItem,{ 'currentClass': 'active'}) }}
            </div>
            <!--/header-->


            <div class="top_news">
                {% block lastnews %}
                    {% render controller("LetimNewsBundle:Default:lastNews")  %}
                {% endblock %}


            </div>


            <div id="slider-wrapper">
                <div id="slider" class="nivoSlider">
                    <img src="/letim/images/slide1.jpg" alt="" title="#htmlcaption1"/>
                    <img src="/letim/images/slide2.jpg" alt="" title="#htmlcaption2"/>
                    <img src="/letim/images/slide3.jpg" alt="" title="#htmlcaption3"/>
                    <img src="/letim/images/slide4.jpg" alt="" title="#htmlcaption4"/>
                </div>
                <div id="htmlcaption1" class="nivo-html-caption"><a href="" class="but1" title="">Заказать сертификат</a>
                </div>

                <div id="htmlcaption2" class="nivo-html-caption"><a href="" class="but2" title="">Перейти к календарю</a>
                </div>

                <div id="htmlcaption3" class="nivo-html-caption"><a href="" class="but3" title="">Заказать сертификат</a>
                </div>

                <div id="htmlcaption4" class="nivo-html-caption"></div>
            </div>


            <!--start main-->
            <div id="wrapper">
                <!--start right_bar-->
                <div id="right_bar">


                    <div class="zagolovok">Галерея</div>

                    <ul class="gallery">
                        <li><a href="" title=""><img src="/letim/images/pic2.jpg" alt=""/></a></li>
                        <li><a href="" title=""><img src="/letim/images/pic3.jpg" alt=""/></a></li>
                    </ul>
                </div>
                <!--end right_bar-->
                <!--start left_bar-->
                <div id="left_bar">

                    <div class="zagolovok">Отзывы</div>


                    <div class="otziv">
                        <div class="otziv2">

                            <p>Доброжелательность ВСЕГО персонала – это то, что начинается с самого порога этого необычного
                                места развлечения. А дальше ждет небольшой инструктаж, переодевание в костюм телепузика и
                                сам полет</p>
                            <strong>Игорь Иванов</strong>
                        </div>
                    </div>


                    <div class="otziv">
                        <div class="otziv2">

                            <p>Доброжелательность ВСЕГО персонала – это то, что начинается с самого порога этого необычного
                                места развлечения. А дальше ждет небольшой инструктаж, переодевание в костюм телепузика и
                                сам полет</p>
                            <strong>Игорь Иванов</strong>
                        </div>
                    </div>


                </div>
                <!--end left_bar-->
                <!--start content-->
                {% block content %}

                {% endblock %}
                <!--end content-->

                <!--start bottom_bar-->
                <div id="bottom_bar">

                    <div class="form">
                        <input name="" type="text" class="pole" value="Ваше имя"
                               onfocus="if(this.value=='Ваше имя'){this.value='';}"
                               onblur="if(this.value==''){this.value='Ваше имя';}"/>

                        <input name="" type="text" class="pole" value="Ваша фамилия"
                               onfocus="if(this.value=='Ваша фамилия'){this.value='';}"
                               onblur="if(this.value==''){this.value='Ваша фамилия';}"/>

                        <input name="" type="text" class="pole" value="Ваш email"
                               onfocus="if(this.value=='Ваш email'){this.value='';}"
                               onblur="if(this.value==''){this.value='Ваш email';}"/>

                        <input name="" class="buton" value="Забронировать полет" type="submit"/>
                    </div>


                    <div class="map">
                        <img src="/letim/images/map.jpg" alt=""/>
                    </div>
                </div>
                <!--end bottom_bar-->
            </div>
            <!--end main-->
        </div>
    </div>

    <div id="footer">
        <div id="foot">

            <div class="soc">
                Социальные сети:
                <ul>
                    <li><a href="" title=""><img src="/letim/images/soc1.png" alt=""/></a></li>
                    <li><a href="" title=""><img src="/letim/images/soc2.png" alt=""/></a></li>
                    <li><a href="" title=""><img src="/letim/images/soc3.png" alt=""/></a></li>
                </ul>
                Copyring © 2014
            </div>

            <div id="logo2"><a href="" title=""><img src="/letim/images/logo2.png" alt=""/></a></div>

            <ul class="nav">
                <li><span>О трубе</span></li>
                <li><a href="" title="">Фото</a></li>
                <li><a href="" title="">Отзывы</a></li>
                <li><a href="" title="">Вопрос-ответ</a></li>

            </ul>


            <ul class="nav">
                <li><span>Тарифы</span></li>


            </ul>


            <ul class="nav">
                <li><span>Контакты</span></li>

            </ul>


        </div>
    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
