{% extends "template.html.twig" %}

{% block template %}


        <!--start main-->
        <div id="wrapper">

            <!--start left_bar-->
            <div id="left_bar">


                <ul class="left_nav">
                    <li><a href="/bronirovanie" title="Бронирование"><img src="/letim/images/plashka1.png" alt=""/></a></li>
                    <li><a href="/sertificat" title="Купить сертификаты"><img src="/letim/images/plashka2.png" alt=""/></a></li>
                    <li><a href="http://vk.com/letimvl" target="_blank" title="Найдите напарника"><img src="/letim/images/plashka3.png" alt=""/></a></li>
                </ul>

                <div class="baner"><a href="/akcii" title=""><img src="/letim/images/baner.jpg" alt=""/></a></div>

                <br/>

                <div class="zagolovok"><a href="{{ path('letim_review_page') }}">Отзывы</a></div>
                {% render controller("LetimReviewBundle:Default:list", {'tpl': 'small', 'limit': 2}) %}
            </div>
            <!--end left_bar-->
            <!--start content-->

            {% block content %}
            {% endblock %}
            {#{% block news %}#}
                {#{% if page is defined %}#}
                    {#{% render controller("LetimNewsBundle:Default:news",{'id': page.id}) %}#}
                {#{% endif %}#}
            {#{% endblock %}#}
            {#{% block fac %}#}
                {#{% if page is defined %}#}
                    {#{% render controller("LetimFaqBundle:Default:faq",{'id': page.id}) %}#}
                {#{% endif %}#}
            {#{% endblock %}#}
            {#{% include 'LetimNewsBundle:News:news.html.twig' with {'article': article} %}#}
            <!--end content-->

            <!--start bottom_bar-->

            {% include "sendForm.html.twig" %}



            <!--end bottom_bar-->
        </div>
   {% endblock %}