{#<title>{{ assets(page.title) }}</title>#}
<meta http-equiv="Content-type" content="text/html; charset=windows-1251"/>
<meta name="robots" content="all"/>
<meta name="description" content=" "/>
<meta name="keywords" content=" "/>

<link rel="stylesheet" type="text/css" href="/letim/css/style.css" media="screen"/>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,700italic&subset=latin,cyrillic-ext,cyrillic'
      rel='stylesheet' type='text/css'/>
<script type="text/javascript" src="/letim/js/jquery-1.5.2.min.js"></script>
<link rel="stylesheet" href="/letim/css/nivo-slider.css" type="text/css" media="screen"/>
<script type="text/javascript" src="/letim/js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="/letim/js/main.js"></script>
<script type="text/javascript">
    $(window).load(function () {
        $('#slider').nivoSlider();
    });
</script>
{% block stylesheets %}{% endblock %}
