{% extends "::letim.home.html.twig" %}
{% block content %}
    <div id="content">
        <div class="zagolovok">{{page.title}}</div>
        {% autoescape false %}
            {{page.text}}
        {% endautoescape %}
    </div>
{% endblock %}