{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
        
{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}">{% trans %}Dashboard{% endtrans %}</a><span class="divider">/</span></li>
    <li class="active">Бронирование</li>
{% endblock %}
    
{% block content %}
    <div style="background-color: #ffffff">
    {% render controller("LetimCalenderBundle:Default:bronirovanieA") %}
    </div>
{% endblock %}